@model IEnumerable<CapSystemFinal.Models.Complaint>

@{
    ViewData["Title"] = "Dean Complaints";
}

<link rel="stylesheet" href="~/css/Student/index.css" />


<h1 class="m-3">Complaints Assigned to You</h1>
<hr />

<h2 class="m-3">Welcome, Dr. @ViewBag.DeanName</h2>



<div class="d-flex">
    <div class="search-container m-4  w-100 position-relative">

        <input type="text" id="search-input" placeholder="Search Complaints..." class="ps-4 p-2 rounded-2 border-0 w-100" />
        <i class="bi bi-search position-absolute position-adjust text-danger "></i>

    </div>






    <div class="filter-group m-4 w-50 align-content-center">
        <label id="status-filter-label"></label>
        <select id="status-filter" class="w-75 p-2 rounded-2 border-0 ">
            <option value="">Status</option>
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Resolved">Resolved</option>
            <option value="Closed">Closed</option>
        </select>



    </div>
</div>


<div class="card">
    <table  id="complaintTables">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>Transformation Direction</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-column="subject">@item.subject</td>
                    <td data-column="description">@item.description</td>
                    <td data-column="date">@item.date</td>
                    <td data-column="status">@item.complaintStatus?.status</td>
                    <td data-column="type">@item.complaintType?.Description</td>
                    <td data-column="transformDirection">@item.transformationDirection?.Description</td>
                    <td>
                        <div class="action-buttons">


                            @* <a asp-controller="Complaints" asp-action="Details" asp-route-id="@item.ComplaintId"><i class="fas fa-eye action-btn" title="View"></i></a> *@

                            @*     <a asp-controller="Complaints" asp-action="Edit" asp-route-Id="@item.ComplaintId"><i class="fas fa-edit action-btn" title="Edit"></i></a> *@
                            @*     <a asp-controller="Complaints" asp-action="Delete" asp-route-id="@item.ComplaintId"><i class="fas fa-trash action-btn" title="Delete"></i></a> *@
                            @if (@item.ComplaintStatusId == 1)
                            {
                                <a asp-controller="Complaints" asp-action="Details" asp-route-id="@item.ComplaintId"><i class="fas fa-eye action-btn" title="View"></i></a>

                                @* <a asp-controller="Complaints" asp-action="Edit" asp-route-Id="@item.ComplaintId"><i class="fas fa-edit action-btn" title="Edit"></i></a> *@
                                @* <a asp-controller="Complaints" asp-action="Delete" asp-route-id="@item.ComplaintId"><i class="fas fa-trash action-btn" title="Delete"></i></a> *@
                            }
                            else
                            {
                                <a asp-controller="Complaints" asp-action="Details" asp-route-id="@item.ComplaintId"><i class="fas fa-eye action-btn" title="View"></i></a>

                                <a asp-controller="Deans" asp-action="Edit" asp-route-Id="@item.ComplaintId"><i class="fas fa-edit action-btn" title="Edit"></i></a>
                                <a asp-controller="Deans" asp-action="Delete" asp-route-id="@item.ComplaintId"><i class="fas fa-trash action-btn" title="Delete"></i></a>
                            }

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script src="~/js/filter.js">

</script>